body{
	background-color:white;
	font-family: sans-serif;
	color: black;
	text-align: left;
	font-size:150%
}

h1{
	background-color:white;
	font-family: sans-serif;
	color: black;
	width: 480px;
	text-align: left;
	font-size:175%;
}

input[type=button]{
	background-color:teal;
	color:white;
	border: 2px solid teal;
	border-radius:4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 480px;
	text-align:left;

}

input[type=number]{
	border: 2px solid teal;
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width:230px;
}

#measurementType{
	border: 2px solid teal;
	border-radius: 4px;
	font-family: sans-serif;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 9px;
	padding-bottom: 9px;
	width: 480px;
}


.options{
	border: 2px solid teal;
	border-radius: 4px;
	font-family: sans-serif;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 9px;
	padding-bottom: 9px;
	width:230px;
}

input[type=button]:hover{
	background-color:white;
	color: black;
	border: 2px solid teal;
	border-radius:4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition-duration: 0.4s;
	width:480px;
}

p{
	display:none;
}

